@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,700,800,900&display=swap");
@font-face {
  font-family: "FBAGAS";
  src: url("../fonts/Jost-Regular.ttf");
}
@font-face {
  font-family: "Nunito-Bold";
  src: url("../fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: "Nunito-Medium";
  src: url("../fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf");
}
.header {
  padding: 0px 20px;
  background: #fff;
}
.header__inner {
  display: -moz-flex;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  padding: 20px 0;
}
@media screen and (max-width: 991px) {
  .header__inner {
    padding: 15px 28px;
  }
}
.header__mobile {
  display: none;
}
@media screen and (max-width: 991px) {
  .header__mobile {
    display: block;
  }
}
.header__logo--img {
  display: inline-block;
}
.header__logo--img img {
  width: 150px;
}
@media screen and (max-width: 991px) {
  .header__logo--img img {
    width: 96px;
  }
}
.header .toggle-menu {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .header .toggle-menu {
    display: block;
  }
}
.header .toggle-menu i {
  color: black;
  font-size: 18px;
}
@media screen and (max-width: 991px) {
  .header__menu {
    display: none;
  }
}
.header__menu ul {
  display: -moz-flex;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.header__menu ul li {
  padding: 0 30px;
  position: relative;
  transition: all 250ms;
}
.header__menu ul li:hover .sub-menu {
  display: block;
}
.header__menu ul .sub-menu {
  display: none;
  position: absolute;
  top: 25px;
  width: 200px;
  border-radius: 5px;
  background: #f1f1f1;
  padding: 10px;
  transition: all 250ms;
  z-index: 200;
}
.header__menu ul .sub-menu li {
  position: unset;
  padding: 5px 0;
}
.header__menu ul .sub-menu a {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  transition: all 250ms;
}
.header__menu ul .sub-menu a:hover {
  color: #FDBF0F;
}
.header__menu ul a {
  font-family: FBAGAS;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  display: inline-block;
  text-decoration: none;
  transition: all 300ms;
}
.header__menu ul a:hover {
  color: #FDBF0F;
}
.header__btn {
  display: -moz-flex;
  display: flex;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
}
@media screen and (max-width: 991px) {
  .header__btn {
    display: none;
  }
}
.header__btn a {
  padding: 10px 38px;
  background: #000000;
  color: #ffffff;
  display: inline-block;
  border-radius: 10px;
  transition: all 300ms;
}
.header__btn a:hover {
  color: #000000;
  background: #FDBF0F;
}

.header.sticky-bar {
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
}



.close-sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}

.close-sidebar.active {
  display: block;
}

.sidebar.active {
  transform: translateX(0px);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: #e6e6e6;
  z-index: 999;
  display: none;
  transform: translateX(-300px);
  transition: all 500ms;
}
@media screen and (max-width: 991px) {
  .sidebar {
    display: block;
  }
}
.sidebar__inner {
  padding: 30px;
}
.sidebar__logo {
  display: -moz-flex;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.sidebar__menu {
  padding: 40px 0 20px;
  display: -moz-flex;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.sidebar__menu ul li {
  margin-bottom: 10px;
  display: -moz-flex;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  position: relative;
  transition: all 250ms;
}
.sidebar__menu ul li:hover .sub-menu {
  display: block;
}
.sidebar__menu ul li a {
  font-size: 15px;
  color: #000000;
  text-align: center;
  padding: 0px 0px;
  transition: all 500ms;
}
.sidebar__menu ul li .sub-menu {
  display: none;
  position: absolute;
  top: 20px;
  width: 200px;
  border-radius: 5px;
  background: #f1f1f1;
  padding: 10px;
  transition: all 250ms;
  z-index: 200;
}
.sidebar__menu ul li .sub-menu li {
  position: unset;
  padding: 5px 0;
  margin-bottom: 5px;
}
.sidebar__menu ul li .sub-menu a {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  transition: all 250ms;
}
.sidebar__menu ul li .sub-menu a:hover {
  color: #FDBF0F;
}

.header__menu ul .current-menu-item a {
  color: #FDBF0F;
  border-bottom: 2px solid #FDBF0F;
}

.bloggrid__inner-box figure img {
  width: 100%;
}

ul, ol {
  margin: 0 !important;
  list-style: none !important;
}

.wp-pagenavi {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.qt__single .single__page--image {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

aside#secondary {
  display: flex;
  flex-direction: column;
}

.categories__flex {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  justify-content: center;
  align-items: start;
}

input[type=text] {
  height: 100%;
}

#menu-top-navbar-1 li a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  color: #000000;
  text-transform: capitalize;
}
#menu-top-navbar-1 li a:hover {
  color: #FDBF0F;
}

.common__btn {
  background: #ff4495;
  background: lnear-gradient(to bottom, #ff4495 0%, #ff6d6d 100%, #7db9e8 100%);
  text-decoration: none;
  border: 1px solid transparent;
  padding: 11px 36px !important;
  text-transform: capitalize !important;
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  transition: all 0.5s ease-out 0s;
}

.hero__main {
  background-image: url("../images/ezgif.com-gif-maker.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  height: 700px;
}

.hero__main--caption span {
  /*   font-family: "Jost",sans-serif; */
  font-family: "Jost", sans-serif !important;
  color: #ff4495;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 20px;
  line-height: 1.3;
  background: #fff;
  padding: 5px 18px;
  border-radius: 20px;
  border: 1px solid rgba(255, 68, 149, 0.2);
}
.hero__main--caption h1 {
  color: #192839;
  font-family: "Nunito", sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 11px;
}
.hero__main--caption p {
  color: #192839;
  margin-bottom: 48px !important;
  padding-right: 0;
  font-size: 20px;
}

.hero__main--video-icon a.btn-icon {
  position: relative;
  background: #fff;
  color: #ff4495;
  width: 100px;
  height: 100px;
  display: inline-block;
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
}

.hero__main--video-icon a.btn-icon:hover {
  background: #ff4495;
  color: #fff;
}

.hero__main--video-icon {
  right: 170px;
  position: absolute;
  top: 52.5%;
  transform: translateY(44%);
}

.hero__main--video-icon a::after {
  position: absolute;
  border: 80px solid rgba(255, 255, 255, 0.3);
  content: "";
  border-radius: 50%;
  left: -31px;
  top: -31px;
  right: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0);
}

.hero__main--video-icon a.btn-icon::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: inherit;
  border: 1px solid #fff;
  -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
  animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
}

.hero__main--video-icon a i {
  font-size: 22px;
  line-height: 1;
  position: relative;
  right: 1.5px;
  top: 5px;
}

.header__banner__btn {
  padding: 15px 36px !important;
  border-radius: 30px;
}

.hero__main--caption {
  padding-top: 161px;
}

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 502;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 503;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  height: 100%;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 505;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 504;
}

.mfp-preloader a {
  color: #cccccc;
}

.mfp-preloader a:hover {
  color: white;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 506;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px;
}

.mfp-arrow {
  position: absolute;
  top: 0;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: solid transparent;
}

.mfp-arrow:after,
.mfp-arrow .mfp-a {
  opacity: 0.8;
  border-top-width: 12px;
  border-bottom-width: 12px;
  top: 8px;
}

.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 20px;
  border-bottom-width: 20px;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 12px solid black;
  left: 5px;
}

.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  border-right: 20px solid white;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 12px solid black;
  left: 3px;
}

.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 20px solid white;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black;
}

.mfp-iframe-holder .mfp-close {
  top: -43px;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.mfp-figure {
  line-height: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-break: break-word;
  padding-right: 36px;
}

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  /* The shadow behind the image */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
}
@media all and (max-width: 800px) {
  .mfp-arrow {
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    transform-origin: 0;
  }

  .mfp-arrow-right {
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.mfp-ie7 .mfp-img {
  padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
  padding: 0;
}

.mfp-ie7 .mfp-content {
  padding-top: 44px;
}

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

/* Services Start */
.services {
  position: relative;
}

.services__title {
  margin-bottom: 60px;
}

.services__title span {
  color: #ff4495;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
  text-align: center;
}

.services__title h2 {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  display: block;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 12px;
  position: relative;
}

.justify-content-center {
  text-align: center;
}

.services__box {
  background: #fff;
  border-radius: 5px;
  padding: 40px 21px;
  transition: all 0.4s ease-out 0s;
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}

.services__box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  background: #192839;
  transition: 0.6s;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
}

.services__box:hover::before {
  height: 100%;
}

.services__box h5 {
  font-size: 22px;
}

.services__box h5 a {
  color: #192839;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 21px;
  display: block;
  transition: all 0.2s ease-out 0s;
  text-decoration: none;
}

a {
  text-decoration: none;
}

p {
  /*   font-family: "Jost",sans-serif; */
  font-family: "Jost", sans-serif !important;
  color: #545454;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px !important;
  font-weight: normal;
  line-height: 1.4;
}

.services__box .services__box--icon {
  color: #ff4495;
  margin-bottom: 30px;
  display: block;
  margin-bottom: 50px;
  width: 78px;
  height: 78px;
  background: #ffe1ee;
  line-height: 78px;
  text-align: center;
  border-radius: 50px;
  display: inline-block;
}

.services__box--icon img {
  width: auto;
}

.services__box--description p {
  margin-bottom: 36px;
  color: #192839;
  font-size: 18px;
  transition: all 0.2s ease-out 0s;
  margin: 0 !important;
}

.services__box:hover.services__box h5 a {
  color: #fff !important;
}

.services__box:hover .services__box--description p {
  color: #fff !important;
}

.services__shape--one {
  position: absolute;
  top: 13%;
  left: 3%;
  z-index: -1;
  display: none;
}

.services__shape--two {
  position: absolute;
  top: -18%;
  right: 0%;
  z-index: -1;
}

/* About Us */
.browse-btn::before {
  position: absolute;
  content: "";
  background: #ff4495;
  width: 100%;
  height: 2px;
  bottom: -11px;
}

img {
  width: 100%;
}

.aboutus__main--caption--title {
  margin-bottom: 25px;
}

.aboutus__main--caption--title > span {
  color: #ff4495;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
}

.aboutus__main--caption--title h2 {
  font-size: 36px;
  display: block;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 12px;
  position: relative;
  font-family: "Nunito";
}

.aboutus__main--caption--title p {
  color: #656565;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.aboutus__main--caption--title-second-para {
  padding-top: 10px;
  margin-bottom: 40px !important;
}

.browse-btn {
  color: #192839 !important;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.browse-btn:hover {
  letter-spacing: 1px;
}

.padding__bottom {
  padding-bottom: 120px;
}

/* Pricing Card */
.pricingcard {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  overflow: hidden;
}

.pricingcard__background {
  background: #f8fbfe;
  padding-top: 70px;
}

.pricingcard__background--second {
  padding-top: 0px;
}

.pricingcard__title {
  position: relative;
  margin-bottom: 15px;
}

.pricingcard__title > span {
  color: #ff4495;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
}

.pricingcard__title h2 {
  font-family: "Nunito", sans-serif;
  display: block;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 12px;
  position: relative;
  font-size: 40px;
}

.pricingcard__top--icon img {
  width: auto;
}

ul {
  list-style: none;
}

.nav-link.tab-link {
  cursor: pointer;
}

.tab-content {
  display: none;
}

.tab-content.current {
  display: inherit;
}

.nav-tabs {
  /*   border-bottom: 0 !important; */
}

.pricing__nav--btn {
  text-align: center;
  justify-content: center;
  display: flex;
}

.pricing__nav--btn nav .nav-link {
  font-family: "Nunito", sans-serif;
  color: #192839;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  padding: 10px 19px;
  border-radius: 20px 0 0 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-link-second.tab-link.current {
  border-radius: 0px 20px 20px 0px;
}

.nav-tabs .nav-link.current {
  color: #fff;
  background: #192839;
  border: 0;
}

.pricing__single--card {
  padding: 35px 40px;
  transition: all 0.4s ease-out 0s;
  margin-bottom: 30px;
}

.pricingcard__top--icon {
  color: #ff4495;
  background: #fff;
  display: block;
  margin-bottom: 50px;
  width: 78px;
  height: 78px;
  line-height: 78px;
  text-align: center;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 13px;
}

.pricingcard__top span {
  color: #ff4495;
  margin-bottom: 19px;
  display: block;
  border-radius: 20px;
  font-weight: 400;
  font-size: 16px;
}

.pricingcard__middle {
  margin-bottom: 8px;
}

.pricingcard__middle h4 {
  color: #192839;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

.pricingcard__bottom ul li {
  color: #192839;
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 18px;
}

.pricingcard__bottom ul li:last-child {
  margin-bottom: 30px;
}

.pricingcard__bottom a {
  background: linear-gradient(to bottom, #ff4495 0%, #ff6d6d 100%, #7db9e8 100%);
  font-family: "Nunito", sans-serif;
  color: #fff;
  border: none;
  padding: 11px 23px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  border-radius: 40px;
  border: 1px solid transparent;
  text-decoration: none;
}

.pricingcard__bottom a:hover {
  background: none;
  border: 1px solid #ff4495;
  color: #ff4495;
}

.pricing__single--card:hover {
  background: #fff;
}

.nav.nav-tabs {
  border: 1px solid #000;
  border-radius: 20px;
}

.pricing__nav--btn nav {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-bottom: 0;
}

/* Why Choose Us  */
.chooseus__content {
  padding-bottom: 25px;
  margin-bottom: 20px;
  align-items: center !important;
  justify-content: space-between !important;
  border-bottom: 1px solid #dee2e6 !important;
}

.chooseus__title span {
  color: #ff4495;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
}

.chooseus__title h2 {
  padding-left: 0;
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  display: block;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 12px;
  position: relative;
}

.f-right {
  float: right;
}

.chooseus__content--second {
  margin-bottom: 20px;
  align-items: flex-end !important;
  justify-content: space-between !important;
}

.about-right-cap p {
  margin-bottom: 30px !important;
}

/* .chooseus__caption--content-top {
padding-top: 40px !important;
} */
.mt-40 {
  margin-top: 40px !important;
}

.chooseus__caption--content-single {
  margin-bottom: 30px;
  position: relative;
}

.chooseus__caption--content-single::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background: #e8eef3;
  bottom: 0;
  right: 10%;
  top: 1%;
}

.chooseus__caption--content-single-counter {
  margin-bottom: 5px;
}

.chooseus__caption--content-single-counter .counter-title {
  color: #ff4495;
  font-size: 36px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  line-height: 1;
  margin-bottom: 0;
  display: inline-block;
  text-transform: uppercase;
}

.chooseus__caption--content-single-counter p {
  color: #ff4495;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  margin-bottom: 0 !important;
}

.chooseus__caption--content-single-descrition p {
  margin-bottom: 33px !important;
  padding-right: 50px;
  color: #545454;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.4;
}

.fade {
  transition: opacity 0.15s linear;
}

.active {
  display: block;
}

/* Slick Slider */
/* Defines the width of the carousel and centers it on the page */
.slick-carousel {
  margin: 0 auto;
  /*   width: 1000px; */
}
.slick-carousel img {
  width: auto;
}

/* The width of each slide */
.slick-slide {
  width: 350px;
}

/* Color of the arrows */
.slick-next::before, .slick-prev::before {
  color: blue;
}

.slick-prev, .slick-next {
  display: none !important;
}

.brand-active {
  border: 1px solid #e8eef3;
  padding: 45px 50px;
  position: relative;
  /*   z-index: 5; */
}

.slick-slide img {
  width: auto;
}

.study__main .slick-slide img {
  width: 100%;
}

/* study */
.study__main {
  padding-top: 100px;
}

.study__content {
  justify-content: center;
}

.study__title {
  margin-bottom: 60px;
  text-align: center;
}

.study__title span {
  color: #ff4495;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
}

.study__title h2 {
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  display: block;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 12px;
  position: relative;
}

.custom-slick-prev, .custom-slick-next {
  display: block !important;
}

.sutps-active {
  position: relative;
}

.sutps-active .guest-contents {
  transition: all 0.4s ease-out 0s;
  position: absolute;
  left: 30px;
  bottom: 25px;
  z-index: 1;
}

.sutps-active .guest-contents p {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 15px;
  font-family: "Jost", sans-serif;
}

.sutps-active .guest-contents a {
  transition: all 0.4s ease-out 0s;
  color: #fff;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

.sutps-active button.slick-prev {
  left: -40px;
}

.sutps-active button.slick-arrow {
  position: absolute;
  border: 0;
  padding: 0;
  z-index: 2;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  /*     left: auto; */
  background: none;
}

.sutps-active button.slick-next {
  right: -40px;
}

.sutps-active button.slick-arrow i {
  font-size: 30px;
  color: rgba(32, 69, 112, 0.3);
  transition: all 0.2s ease-out 0s;
}

.stups-area .single-sutps {
  margin: 0 12px;
  position: relative;
}

.sutps-active .slick-slide {
  margin: 0 12px;
  position: relative;
}

.slick-slide {
  margin: 0 12px !important;
}

.sutps-active button.slick-arrow i:hover {
  color: #ff4495;
}

.testimonial__swiper {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slider__swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimonial_main {
  padding-top: 120px;
  padding-bottom: 120px;
}

.testimonial__content {
  justify-content: center !important;
  display: flex !important;
  background: #fff;
  position: relative;
  /*   z-index: 5; */
}

.main__swiper--content {
  padding-top: 50px;
  padding-bottom: 65px;
}

.swiper__caption img {
  width: auto;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}

li {
  margin: 0 0.25rem;
}

.slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  text-indent: -9999px;
}

li.slick-active button {
  background-color: #ff4495;
}

.swiper__caption {
  text-align: center;
}

.swiper__caption--top img {
  margin-bottom: 50px;
  width: auto;
  display: inline-block !important;
}

.swiper__caption--top p {
  color: #232f55;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 26px;
  font-size: 23px;
  margin-bottom: 30px !important;
}

.testimonial-founder span {
  color: #192839;
  font-size: 18px;
  line-height: 1;
  display: block;
  font-weight: 400;
}

.slick-dots {
  padding-top: 35px !important;
}

.contact {
  background-image: url("../images/contact-bg.jpg");
  background-size: cover;
  /*     background-position:center; */
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 29px 0;
}

.single__contact {
  background-image: url("../images/bg-2.png");
  /*       background-size: cover; */
  /*       background-position:center; */
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 65px 50px 65px 60px;
  text-align: center;
  width: 490px;
  height: 505px;
  display: flex;
  align-items: center;
}

.single__contact--caption h5 {
  font-size: 33px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  display: block;
  transition: all 0.2s ease-out 0s;
}

.single__contact--caption p {
  margin-bottom: 35px !important;
  color: #fff;
}

.single__contact--caption a {
  border: 1px solid #fff;
  color: #fff;
  background: none;
  padding: 15px 34px !important;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  transition: color 0.4s linear;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  z-index: 1;
  text-decoration: none;
}

.single__contact--caption a {
  color: #fff;
}

.single__contact--caption a:hover {
  color: #ff4495;
}

.single__contact--caption a::before {
  border: 1px solid transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #fff;
  z-index: -1;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleY(0);
  border-radius: 0;
}

.single__contact--caption a:hover::before {
  transform: scaleY(1);
  border: 1px solid transparent;
}

@media (max-width: 767px) {
  .contact {
    padding: 50px 0;
  }
}
@media (max-width: 575px) {
  .single__contact {
    padding: 15px;
    width: 300px;
    height: 405px;
  }
}
/* Footer */
.footer-wrapper {
  padding-top: 99px;
  padding-bottom: 0;
}

.footer__content {
  justify-content: space-between !important;
}

.footer__inner {
  margin-bottom: 50px;
}

.footer__inner .footer__caption--first {
  margin-bottom: 30px;
}

.footer__logo {
  margin-bottom: 35px;
}

.footer__logo img {
  width: auto;
}

.footer__para p {
  color: #5e5e5e;
  font-size: 16px;
  margin-bottom: 21px !important;
  line-height: 1.8;
}

.footer__icons li {
  display: inline-block;
  margin-bottom: 15px;
}

.footer__icons li a {
  font-weight: 300;
  font-size: 16px;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  color: #bcbcbc !important;
  /*     font-size: 18px; */
  display: inline-block;
  text-align: center;
  padding: 5px;
}

.footer__icons li a i {
  transition: all 0.4s ease-out 0s;
  display: inline-block;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}

.footer__icons li a:hover i {
  transform: rotateY(180deg);
}

.footer__caption {
  margin-bottom: 50px;
}

.footer__caption--title h4 {
  color: #1a1a1a;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 600;
}

.footer__caption--title ul li {
  margin-bottom: 15px;
}

.footer__caption--title ul li a {
  color: #5e5e5e;
  font-weight: 300;
  font-size: 16px;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
}

.footer__caption--title ul li a:hover {
  color: #5e5e5e;
  text-decoration: underline;
}

a.contact__email {
  font-family: "Nunito", sans-serif;
  font-size: 14px !important;
  color: #1a1a1a !important;
  margin-bottom: 5px;
  text-decoration: underline !important;
  display: block;
}

a.contact__number {
  font-family: "Nunito", sans-serif;
  font-size: 22px !important;
  color: #ff4495 !important;
  text-decoration: underline !important;
  margin-bottom: 0;
  font-weight: 600 !important;
  display: block;
}

.footer__bottom--wrapper {
  background: #fff;
}

.footer__copyright {
  text-align: center;
}

.footer-bottom-wrapper .footer-border {
  margin-top: 60px;
  padding-bottom: 1px;
  padding-top: 13px;
}

.footer__copyright p {
  color: #5e5e5e;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}

.footer__copyright p i {
  color: #ff4495;
  padding-left: 3px;
  padding-right: 3px;
}

.footer__copyright p a {
  color: #ff4495;
  text-decoration: none;
  padding-left: 3px;
}

#back-top {
  background: #ff4495;
  height: 40px;
  width: 40px;
  right: 31px;
  bottom: 18px;
  position: fixed;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
  border: 2px solid transparent;
  z-index: 2;
}

#back-top .wrapper {
  position: relative;
}

#back-top .wrapper .arrows-container {
  position: absolute;
  text-align: center;
  bottom: -3px;
  margin: 0 auto;
  display: block;
  right: 7px;
}

#back-top .wrapper .arrows-container .arrow-one {
  -webkit-animation: arrowMovement 3s ease-in-out infinite;
          animation: arrowMovement 3s ease-in-out infinite;
}

#back-top .wrapper .arrows-container .arrow {
  padding: 7px;
  transform: rotate(130deg);
  opacity: 1;
  position: absolute;
}

#back-top .wrapper .arrows-container .arrow-two {
  -webkit-animation: arrowMovement 3s 1s ease-in-out infinite;
          animation: arrowMovement 3s 1s ease-in-out infinite;
}

@-webkit-keyframes arrowMovement {
  0% {
    top: 15px;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes arrowMovement {
  0% {
    top: 15px;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
#back-top .wrapper .arrows-container .arrow {
  padding: 7px;
  transform: rotate(130deg);
  opacity: 1;
  position: absolute;
}

.list-menu--inline > li a {
  padding: 29px 7px !important;
}

.header__heading-link {
  padding-right: 0 !important;
  /*   padding-bottom: 0 !important;  */
  padding: 7px 9px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.bars__icons > i {
  font-size: 17px;
}

.custom__padding--all {
  padding: 0 12px !important;
}

.footer {
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.header.second__header {
  position: absolute;
  width: 100%;
  background: transparent;
}/*# sourceMappingURL=style.css.map */


.sidebar.active {
  /* margin-top: 87px; */
}